<h1>Editing contact request</h1>

<%= render "form", contact_request: @contact_request %>

<br>

<div>
  <%= link_to "Show this contact request", @contact_request %> |
  <%= link_to "Back to contact requests", contact_requests_path %>
</div>
