<div id="<%= dom_id company_setting %>">
  <p>
    <strong>Company name:</strong>
    <%= company_setting.company_name %>
  </p>

  <p>
    <strong>Contact info:</strong>
    <%= company_setting.contact_info %>
  </p>

  <p>
    <strong>Email info:</strong>
    <%= company_setting.email_info %>
  </p>

</div>
