
<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
  <h1>Hello <%= @customer.name.downcase %>,</h1>
  <p>Your customer code is <%= @customer.customer_code %>.</p>
</body>
</html>






