<p style="color: green"><%= notice %></p>

<h1>Prefixes</h1>

<div id="prefixes">
  <% @prefixes.each do |prefix| %>
    <%= render prefix %>
    <p>
      <%= link_to "Show this prefix", prefix %>
    </p>
  <% end %>
</div>

<%= link_to "New prefix", new_prefix_path %>
