<h1>New prefix and digits for store</h1>

<%= render "form", prefix_and_digits_for_store: @prefix_and_digits_for_store %>

<br>

<div>
  <%= link_to "Back to prefix and digits for stores", prefix_and_digits_for_stores_path %>
</div>
