<div id="<%= dom_id prefix_and_digits_for_store_manager %>">
  <p>
    <strong>Prefix:</strong>
    <%= prefix_and_digits_for_store_manager.prefix %>
  </p>

  <p>
    <strong>Minimum digits:</strong>
    <%= prefix_and_digits_for_store_manager.minimum_digits %>
  </p>

</div>
