<h1>New prefix and digits for store manager</h1>

<%= render "form", prefix_and_digits_for_store_manager: @prefix_and_digits_for_store_manager %>

<br>

<div>
  <%= link_to "Back to prefix and digits for store managers", prefix_and_digits_for_store_managers_path %>
</div>
