<div id="<%= dom_id prefix_and_digits_for_service_provider %>">
  <p>
    <strong>Prefix:</strong>
    <%= prefix_and_digits_for_service_provider.prefix %>
  </p>

  <p>
    <strong>Minimum digits:</strong>
    <%= prefix_and_digits_for_service_provider.minimum_digits %>
  </p>

</div>
