<p style="color: green"><%= notice %></p>

<h1>Prefix and digits for service providers</h1>

<div id="prefix_and_digits_for_service_providers">
  <% @prefix_and_digits_for_service_providers.each do |prefix_and_digits_for_service_provider| %>
    <%= render prefix_and_digits_for_service_provider %>
    <p>
      <%= link_to "Show this prefix and digits for service provider", prefix_and_digits_for_service_provider %>
    </p>
  <% end %>
</div>

<%= link_to "New prefix and digits for service provider", new_prefix_and_digits_for_service_provider_path %>
