<h1>New prefix and digits for service provider</h1>

<%= render "form", prefix_and_digits_for_service_provider: @prefix_and_digits_for_service_provider %>

<br>

<div>
  <%= link_to "Back to prefix and digits for service providers", prefix_and_digits_for_service_providers_path %>
</div>
