<div id="<%= dom_id prefix_and_digits_for_ticket_number %>">
  <p>
    <strong>Prefix:</strong>
    <%= prefix_and_digits_for_ticket_number.prefix %>
  </p>

  <p>
    <strong>Minimum digits:</strong>
    <%= prefix_and_digits_for_ticket_number.minimum_digits %>
  </p>

</div>
