<p style="color: green"><%= notice %></p>

<h1>Prefix and digits for ticket numbers</h1>

<div id="prefix_and_digits_for_ticket_numbers">
  <% @prefix_and_digits_for_ticket_numbers.each do |prefix_and_digits_for_ticket_number| %>
    <%= render prefix_and_digits_for_ticket_number %>
    <p>
      <%= link_to "Show this prefix and digits for ticket number", prefix_and_digits_for_ticket_number %>
    </p>
  <% end %>
</div>

<%= link_to "New prefix and digits for ticket number", new_prefix_and_digits_for_ticket_number_path %>
