<div id="<%= dom_id chat_message %>">
  <p>
    <strong>Content:</strong>
    <%= chat_message.content %>
  </p>

  <p>
    <strong>Date time of message:</strong>
    <%= chat_message.date_time_of_message %>
  </p>

  <p>
    <strong>Admin:</strong>
    <%= chat_message.admin_id %>
  </p>

</div>
