<h1>Editing service provider</h1>

<%= render "form", service_provider: @service_provider %>

<br>

<div>
  <%= link_to "Show this service provider", @service_provider %> |
  <%= link_to "Back to service providers", service_providers_path %>
</div>
