<p style="color: green"><%= notice %></p>

<h1>Service providers</h1>

<div id="service_providers">
  <% @service_providers.each do |service_provider| %>
    <%= render service_provider %>
    <p>
      <%= link_to "Show this service provider", service_provider %>
    </p>
  <% end %>
</div>

<%= link_to "New service provider", new_service_provider_path %>
