            <p><strong>Ticket Status:</strong> <span class="highlight"><%= @ticket_status %>  </span></p>
                        <p><strong>Priority Level:</strong> <span class="highlight"> <%= @ticket_priority %></span></p>

