<h1>Editing sub location</h1>

<%= render "form", sub_location: @sub_location %>

<br>

<div>
  <%= link_to "Show this sub location", @sub_location %> |
  <%= link_to "Back to sub locations", sub_locations_path %>
</div>
