<div id="<%= dom_id prefix_and_digit %>">
  <p>
    <strong>Prefix:</strong>
    <%= prefix_and_digit.prefix %>
  </p>

  <p>
    <strong>Minimum digits:</strong>
    <%= prefix_and_digit.minimum_digits %>
  </p>

</div>
