<div id="<%= dom_id sms_setting %>">
  <p>
    <strong>Api key:</strong>
    <%= sms_setting.api_key %>
  </p>

  <p>
    <strong>Api secret:</strong>
    <%= sms_setting.api_secret %>
  </p>

</div>
